@import "../../styles/index.css";


main{
    height: 100vh; 
}

.main_subistitute{
    background-color: #212529;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    height: 100%;
    width: 100%;
}
.main_Container{
    display: flex;
    gap: 28px;
    flex-direction: column;
    margin-left: 15px;
}
.logo img{
    height: 25px;


}
.main_Container > h1{
    font-weight: 800;
    font-size: 38px;
    line-height: 48px;
    color: #ffffff;
}
.main_Container > p {
    font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FFFFFF;
}
.main_Container fieldset {
    display: flex;
    justify-content: center;
}
.goto_dash{
    width: 90%;
    height: 48px;
    border: 2px solid #FD377E;
    border-radius: 8px;
    background: #FD377E;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.imgLP{
    display: flex;
    justify-content: center;

}
.imgLP img{
  width: 60%;
}

@media (min-width:768px){
    main{
        justify-content: center;
    }
    .main_subistitute{
        flex-direction: row;
        align-items: center;
    }
    .main_Container{
        width: 30%;
    }
    .goto_dash{
        width: 90%;
        
    }
    .main_Container fieldset{
        justify-content: flex-start;
    }
    .imgLP{
        height: 360px;
        width: 25%;
        align-items: center;
    }
    .imgLP img{
        width: 100%
    }
}